In [4]:
%load_ext autoreload
%autoreload 2

In [1]:
from string_based import EditBased

word_list = [["car", "cat"], ["car", "autombile"], ["apple", "orange"], ["id", "badge"]]

edit_based = EditBased("EditBased")
sim = edit_based.analyze(word_list)
print(edit_based.display_html(sim))

None

In [4]:
word_list = [["car", "cat"],["car", "autombile"],["apple", "orange"],["id","badge"]]


print([word[0] for word in word_list])

['car', 'car', 'apple', 'id']